.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.content-login {
  background-image: linear-gradient(#ab47bc, #5c1fb1);
  display: flex;
  width: 650px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #5c1fb18e;
  align-items: center;
  justify-content: center;
}

.form-login {
  width: 50%;
}

.header-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.header-form > img {
  width: 80px;
}

.img-login {
  width: 50%;
  background-color: #00000054;
}
.img-login > img {
  width: 100%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  opacity: 0.7;
}

.body-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.container-input {
  width: 100%;
}

.container-input > input {
  margin-bottom: 5px;
  width: 100%;
}

.button > button {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 5px #ab47bc;
  height: 30px;
  width: 150px;
  font-weight: 600;
  color: #5c1fb1;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

.button > button:hover {
  color: #fff;
  background-color: #5c1fb1;
}

.container-footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.container-footer > P {
  margin: 0 0 10px 0;
  font-size: 0.7rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #78288b;
}
i:hover {
  color: #78288b;
  cursor: pointer;
}
