<div class="container table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="header-list">ID</th>
        <th>Name</th>
        <th>CPF</th>
        <th>Birthday</th>
        <th>Email</th>
        <th>User Type</th>
        <th>Phone</th>
        <th></th>
        <th>
          <i class="pi pi-user-plus" (click)="showDialogCreateUser()"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <div
        class="no-users-message"
        *ngIf="listUsers.length > 0; else noUsers"
      ></div>
      <tr *ngFor="let user of listUsers">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.cpf }}</td>
        <td>{{ user.dateOfBirthday }}</td>
        <td *ngIf="listUsers.length > 0; else noUsers">{{ user.email }}</td>
        <td>{{ user.userType }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>
          <i class="pi pi-user-edit" (click)="showDialogUpdateUser(user)"></i>
        </td>
        <td><i class="pi pi-times" (click)="deleteUserById(user.id)"></i></td>
      </tr>
    </tbody>
  </table>
</div>

<p-dialog
  [(visible)]="displayCreateUser"
  [style]="{ width: '70vw' }"
  [baseZIndex]="10000"
>
 <form [formGroup]="userForm" >
  <i
    class="icon pi pi-user"
    style="font-size: 2rem; color: blueviolet"
    alt="icone de usuário"
  ></i>
  <div class="container-input">
    <input
      pInputText
      placeholder="Name"
      type="text"
      id="name"
      formControlName="name"
      required
    />

    <input
      pInputText
      placeholder="CPF"
      type="text"
      id="cpf"
      formControlName="cpf"
      required
    />

    <input
      pInputText
      type="date"
      id="dateOfBirthday"
      formControlName="dateOfBirthday"
      title="Insira sua data de nascimento neste campo"
      required
    />

    <input
      pInputText
      placeholder="Email"
      type="text"
      id="email"
      formControlName="email"
      required
    />

    <input
      pInputText
      placeholder="User Type"
      type="text"
      id="userType"
      formControlName="userType"
      required
    />

    <input
      pInputText
      placeholder="Phone"
      type="text"
      id="userType"
      formControlName="phoneNumber"
      required
    />
    <input
    style="display:none;"
      pInputText
      placeholder="address"
      type="text"
      id="address"
      formControlName="address"
      required
    />
  </div>
</form>
<form [formGroup]="Addressform">
  <i
    class="icon pi pi-home"
    style="font-size: 2rem; color: blueviolet"
    alt="icone de usuário"
  ></i>
  <div class="container-input">
    <input
      pInputText
      placeholder="Cep"
      type="text"
      id="cep"
      formControlName="cep"
      required
      #cepInput
      (blur)="searchCep()"
    />

    <input
      pInputText
      placeholder="Street"
      type="text"
      id="street"
      name="street"
      formControlName="logradouro"
      required
    />

    <input
      pInputText
      placeholder="Neighborhood"
      type="text"
      id="number"
      name="number"
      formControlName="bairro"
      required
    />

    <input
      pInputText
      placeholder="Complement"
      type="text"
      id="complement"
      name="complement"
      formControlName="complemento"
    />
    <input
      pInputText
      placeholder="City"
      type="text"
      id="city"
      name="city"
      formControlName="localidade"
      required
    />

    <input
      pInputText
      placeholder="State"
      type="text"
      id="uf"
      name="uf"
      required
      formControlName="uf"
    />
  </div>
</form>
<div class="button">
  <button class="button-create" type="submit" (click)="createUser()">
    Save
  </button>
</div>
</p-dialog>


<p-dialog
  [(visible)]="displayUpdateUser"
  [style]="{ width: '70vw' }"
  [baseZIndex]="10000"
>
<form [formGroup]="userForm" >
  <i
    class="icon pi pi-user"
    style="font-size: 2rem; color: blueviolet"
    alt="icone de usuário"
  ></i>
  <div class="container-input">
    <input
      pInputText
      placeholder="Name"
      type="text"
      id="name"
      formControlName="name"
      required
    />

    <input
      pInputText
      placeholder="CPF"
      type="text"
      id="cpf"
      formControlName="cpf"
      required
    />

    <input
      pInputText
      type="date"
      id="dateOfBirthday"
      formControlName="dateOfBirthday"
      title="Insira sua data de nascimento neste campo"
      required
    />

    <input
      pInputText
      placeholder="Email"
      type="text"
      id="email"
      formControlName="email"
      required
    />

    <input
      pInputText
      placeholder="User Type"
      type="text"
      id="userType"
      formControlName="userType"
      required
    />

    <input
      pInputText
      placeholder="Phone"
      type="text"
      id="userType"
      formControlName="phoneNumber"
      required
    />
    <input
    style="display:none;"
      pInputText
      placeholder="address"
      type="text"
      id="address"
      formControlName="address"
      required
    />
  </div>
</form>
<form [formGroup]="Addressform">
  <i
    class="icon pi pi-home"
    style="font-size: 2rem; color: blueviolet"
    alt="icone de usuário"
  ></i>
  <div class="container-input">
    <input
      pInputText
      placeholder="Cep"
      type="text"
      id="cep"
      formControlName="cep"
      required
      #cepInput
      (blur)="searchCep()"
    />

    <input
      pInputText
      placeholder="Street"
      type="text"
      id="street"
      name="street"
      formControlName="logradouro"
      required
    />

    <input
      pInputText
      placeholder="Neighborhood"
      type="text"
      id="number"
      name="number"
      formControlName="bairro"
      required
    />

    <input
      pInputText
      placeholder="Complement"
      type="text"
      id="complement"
      name="complement"
      formControlName="complemento"
    />
    <input
      pInputText
      placeholder="City"
      type="text"
      id="city"
      name="city"
      formControlName="localidade"
      required
    />

    <input
      pInputText
      placeholder="State"
      type="text"
      id="uf"
      name="uf"
      required
      formControlName="uf"
    />
  </div>
</form>
<div class="button">
  <button class="button-create" type="submit" (click)="updateUser()">
    Save
  </button>
</div>
</p-dialog>


<ng-template #noUsers>
  <p class="no-users-message">
    Não há usuários cadastrados para serem exibidos
  </p>
</ng-template>
