<div class="card">
    <p-tabView>
        <p-tabPanel header="Endereço de entrega">

            <div *ngFor="let item of addressD">
                <div *ngIf="item.localidade != null">
                    <p-radioButton pRadioButton type="radio" [value]="item" [(ngModel)]="teste"
                        [id]="item.id"></p-radioButton>
                    <label [for]="item.id">{{item.logradouro}}, {{item.complemento}},
                        {{item.bairro}},{{item.localidade}},
                        {{item.uf}}</label>
                </div>

            </div>
            <div class="button">
                <button class="button-create" (click)="testeButton()">
                    escolhi este Endereço
                </button>
            </div>

            <div>
                <form [formGroup]="addressForm">
                    <i class="icon pi pi-home" style="font-size: 2rem; color: blueviolet" alt="icone de usuário"></i>
                    <div class="container-input">
                        <input pInputText placeholder="Cep" type="text" id="cep" formControlName="cep" required
                            #cepInput (blur)="searchCep()" />
                        <!-- <i class="icon pi pi-search"
                            style="font-size: 1.5rem; margin: 0 1rem; color: blueviolet; cursor: pointer" alt="procurar"
                            (click)="searchCep()"></i> -->

                        <input pInputText placeholder="Street" type="text" id="street" name="street"
                            formControlName="logradouro" required />

                        <input pInputText placeholder="Neighborhood" type="text" id="number" name="number"
                            formControlName="bairro" required />

                        <input pInputText placeholder="Complement" type="text" id="complement" name="complement"
                            formControlName="complemento" />
                        <input pInputText placeholder="City" type="text" id="city" name="city"
                            formControlName="localidade" required />

                        <input pInputText placeholder="State" type="text" id="uf" name="uf" required
                            formControlName="uf" />
                    </div>
                </form>
                <div class="button">
                    <button class="button-create" (click)="createAddress()">
                        cadastrar Endereço
                    </button>
                </div>
            </div>
        </p-tabPanel>
        <!-- <p-tabPanel header="Método de pagamento">
            <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center">
                    <p-radioButton name="money" value="money" [(ngModel)]="paymentMethod" inputId="money"
                        (onClick)="credCard = false"></p-radioButton>
                    <label for="money" class="ml-2">Dinheiro</label>
                </div>

                <div class="flex align-items-center">
                    <p-radioButton name="card" value="card" [(ngModel)]="paymentMethod" inputId="card"
                        (onClick)="credCard = true"></p-radioButton>
                    <label for="card" class="ml-2">Cartão de crédito</label>
                </div>

            </div>
            <div *ngIf="credCard">
                <form [formGroup]="creditcardForm">
                    <i class="icon pi pi-credit-card"
                        style="font-size: 2rem; color: blueviolet; padding: 5px; margin-bottom: 5px;"
                        alt="icone de usuário"></i>
                    <div class="container-input">
                        <input pInputText placeholder="Number" type="text" id="number" formControlName="number"
                            required />

                        <input pInputText placeholder="Name" type="text" id="name" formControlName="name" required />

                        <input pInputText type="text" id="expiry" placeholder="Data de expiração"
                            formControlName="expiry" title="Data de expiração" required />

                        <input pInputText placeholder="cvc" type="text" id="cvc" formControlName="cvc" required />



                    </div>
                </form>
            </div>
            <div class="button">
                <button class="button-create" (click)="testeButton()">
                    Finalizar pedido
                </button>
            </div>
        </p-tabPanel> -->
    </p-tabView>
</div>

<p-dialog card header="Hora do Pagamento" [(visible)]="visible" [style]=" {width: '70vw', height: '100%'}">
    <p-tabView>

        <p-tabPanel header="Método de pagamento">
            <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center">
                    <p-radioButton name="money" value="money" [(ngModel)]="paymentMethod" inputId="money"
                        (onClick)="credCard = false"></p-radioButton>
                    <label for="money" class="ml-2">Dinheiro</label>
                </div>

                <div class="flex align-items-center">
                    <p-radioButton name="card" value="card" [(ngModel)]="paymentMethod" inputId="card"
                        (onClick)="credCard = true"></p-radioButton>
                    <label for="card" class="ml-2">Cartão de crédito</label>
                </div>

            </div>
            <div *ngIf="credCard">
                <form [formGroup]="creditcardForm">
                    <i class="icon pi pi-credit-card"
                        style="font-size: 2rem; color: blueviolet; padding: 5px; margin-bottom: 5px;"
                        alt="icone de usuário"></i>
                    <div class="container-input">
                        <input pInputText pTooltip="Enter the number card" placeholder="Number" type="text" id="number"
                            formControlName="number" required />

                        <input pInputText pTooltip="Enter the name" placeholder="Name" type="text" id="name"
                            formControlName="name" required />

                        <input pInputText pTooltip="Enter the expiration date" type="text" id="expiry"
                            placeholder="Data de expiração" formControlName="expiry" title="Data de expiração"
                            required />

                        <input pInputText pTooltip="Enter the code of verification" placeholder="cvc" type="text"
                            id="cvc" formControlName="cvc" required />



                    </div>
                </form>
            </div>
            <div class="button">
                <button class="button-create" type="submit" (click)="finishOrder()">
                    Finalizar pedido
                </button>
            </div>
        </p-tabPanel>
    </p-tabView>
</p-dialog>