<form [formGroup]="formUser">
  <i
    class="icon pi pi-user"
    style="font-size: 2rem; color: blueviolet"
    alt="icone de usuário"
  ></i>
  <div class="container-input">
    <input
      pInputText
      placeholder="Name"
      type="text"
      id="name"
      formControlName="name"
      required
    />

    <input
      pInputText
      placeholder="CPF"
      type="text"
      id="cpf"
      formControlName="cpf"
      required
    />

    <input
      pInputText
      type="date"
      id="dateOfBirthday"
      formControlName="dateOfBirthday"
      title="Insira sua data de nascimento neste campo"
      required
    />

    <input
      pInputText
      placeholder="Email"
      type="text"
      id="email"
      formControlName="email"
      required
    />

    <input
      pInputText
      placeholder="User Type"
      type="text"
      id="userType"
      formControlName="userType"
      required
    />

    <input
      pInputText
      placeholder="Phone"
      type="text"
      id="userType"
      formControlName="phoneNumber"
      required
    />
    <input
      style="display: none"
      pInputText
      placeholder="address"
      type="text"
      id="address"
      formControlName="address"
      required
    />
  </div>
</form>

<!--  -->
<form [formGroup]="formAddress">
  <i
    class="icon pi pi-home"
    style="font-size: 2rem; color: blueviolet"
    alt="icone de usuário"
  ></i>
  <div class="container-input">
    <input
      pInputText
      placeholder="Cep"
      type="text"
      id="cep"
      formControlName="cep"
      required
      #cepInput
      (blur)="searchCep()"
    />

    <input
      pInputText
      placeholder="Street"
      type="text"
      id="street"
      name="street"
      formControlName="logradouro"
      required
    />

    <input
      pInputText
      placeholder="Neighborhood"
      type="text"
      id="number"
      name="number"
      formControlName="bairro"
      required
    />

    <input
      pInputText
      placeholder="Complement"
      type="text"
      id="complement"
      name="complement"
      formControlName="complemento"
    />
    <input
      pInputText
      placeholder="City"
      type="text"
      id="city"
      name="city"
      formControlName="localidade"
      required
    />

    <input
      pInputText
      placeholder="State"
      type="text"
      id="uf"
      name="uf"
      required
      formControlName="uf"
    />
  </div>
</form>

<div class="button">
  <button class="button-create" type="submit" (click)="updateUser()">
    Save
  </button>
</div>
