.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  margin-top: 25px;
  font-size: 1.8rem;
  color: #ffff;
}

.form-address {
  width: 550px;

  margin-top: 60px;
  border-radius: 8px;
  background-image: linear-gradient(#ab47bc, #5c1fb1);
  box-shadow: 1px 1px 10px #ab47bc;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
}

input {
  color: #ffff;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}

input::placeholder {
  color: #fff;
  font-size: 0.8rem;
}

.button > input {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 5px #ab47bc;
  height: 30px;
  width: 150px;
  font-weight: 600;
  color: #5c1fb1;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  margin: 40px 0;
}

.button > input:hover {
  color: #fff;
  background-color: #5c1fb1;
}

.link {
  margin: 20px 0;
}

.link > a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 0.8rem;
}
.link > a:hover {
  color: #ab47bc;
}
