<div class="container">
  <form [formGroup]="formUser" class="form-sign-up">
    <div class="img-perfil">
      <img
        src="../../../assets/img-perfil.svg"
        alt="click here to change your image"
      />
    </div>
    <div class="container-inputs">
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Name"
        formControlName="name"
      />
      <input
        type="text"
        name="cpf"
        id="cpf"
        placeholder="CPF"
        formControlName="cpf"
      />
      <input
        type="date"
        name="dateOfBirthday"
        id="dateOfBirthday"
        formControlName="dateOfBirthday"
        placeholder="dateOfBirthday"
      />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        formControlName="email"
      />
      <input
        type="tel"
        name="phoneNumber"
        id="phoneNumber"
        placeholder="Phone"
        formControlName="phoneNumber"
      />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <div class="button">
      <button (click)="createUser()">SIGN UP</button>
    </div>
  </form>
  <!-- <div class="link-back">
    <p routerLink="/login"><i class="pi pi-angle-double-left" ></i></p>
  </div> -->
</div>
