.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form-sign-up {
  width: 550px;
  margin-top: 40px;
  border-radius: 8px;
  background-image: linear-gradient(#ab47bc, #5c1fb1);
  box-shadow: 1px 1px 10px #ab47bc;
  color: #fff;
  display: flex;
  align-items: center;
  /* height: 549px; */
  flex-direction: column;
}

.img-perfil {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  outline: none;
  border-bottom: 1px solid #ab47bc;
 
}

.container-inputs > input:hover {
  border-bottom: 1px solid #6e2c9d;
}

input {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  font-size: 0.8rem;
  color: #fff !important;
}

input::placeholder {
  color: #fff;
  font-size: 0.8rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1) brightness(1000%) sepia(100%) saturate(10000%)
    hue-rotate(180deg);
}

#dateOfBirthday::placeholder {
  color: #fff;
}

.button > button {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 5px #ab47bc;
  height: 30px;
  width: 150px;
  font-weight: 600;
  color: #5c1fb1;
  cursor: pointer;
  transition: 0.3s;
  margin: 25px;
  text-align: center;
}

.button > button:hover {
  color: #fff;
  background-color: #5c1fb1;
}
