<div class="container table-responsive" *ngIf="cart">
  <p-table [value]="listProducts" [rows]="5" [paginator]="true" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 30]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    responsiveLayout="stack" [breakpoint]="'660px'" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" style="background-color: #ab47bc">
      <tr>
        <th id="header-list">Nome</th>
        <th id="header-list">Quantidade</th>
        <th id="header-list">Preço</th>
        <th id="header-list"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-listProduct>
      <tr>
        <td>{{ listProduct.name }}</td>
        <td>
          <div class="buttons-list-product">
            <div class="button-list">
              <i class="pi pi-minus" (click)="decrease(listProduct)"></i>
            </div>
            <div class="quantity-product">
              {{ listProduct.quantity }}
            </div>
            <div class="button-list">
              <i class="pi pi-plus" (click)="inclease(listProduct)" title="Remover produto do carrinho"></i>
            </div>
          </div>
        </td>
        <td>{{ listProduct.price | currency : "BRL" : "symbol" : "1.2-2" }}</td>
        <td>
          <div class="button-list">
            <i class="pi pi-times" style="margin-left: 5px" (click)="removeToCart(listProduct)"
              title="Remover produto do carrinho"></i>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft"></ng-template>
    <ng-template pTemplate="paginatorright"> </ng-template>
  </p-table>
</div>

<div class="container-cart">
  <div class="cart-total">
    <div class="button">
      <button pButton routerLink="/home">Continuar comprando</button>
    </div>
    <div class="button">
      <button pButton (click)="login()">finalizar compra</button>
    </div>
    <div class="container-price">
      <div class="price">
        <h2 class="title-price">Total a pagar</h2>
        <p class="price">{{ total | currency : "BRL" : "symbol" : "1.2-2" }}</p>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Hora do Pagamento" [(visible)]="visiblePayment" [style]="{ width: '70vw', height:'100%' }">
  <app-modal-payment></app-modal-payment>
</p-dialog>