<!-- <div class="container-cards">

  <div class="card" *ngFor="let product of products">
    <div class="img-card">
      <img src="{{product.image}}" alt="Whisky Chivas" />
    </div>
    <div class="content-card">
      <h4>{{product.name}}</h4>
      <p>{{product.description}}</p>
      <p>R${{product.price}}</p>
    </div>
    <div class="buttons-card">
      <div class="button button-radius-left">-</div>
      <div class="button">1</div>
      <div class="button">+</div>
      <div class="button button-radius-right"><img src="../../../../assets/cart.svg"
          alt="icone de carrinho para comprar"></div>
    </div>
  </div>
</div> -->
<div class="container-cards">
  <app-card></app-card>
</div>
<p-dialog [(visible)]="display">
  <app-modal-maior-idade></app-modal-maior-idade>
</p-dialog>
