<div *ngIf="!isLogin && !isSignUp" class="container container-dashboard">
  <div class="logo-container">
    <img
      routerLink="/home"
      class="logo logo-dashboard"
      src="../../../../assets/logo2.svg"
      alt="logo grupo 4"
    />
  </div>
  <div *ngIf="!isHome" class="menu-container">
    <nav class="menu">
      <a *ngFor="let category of mainCategories" class="menu_link" href="#">{{category.name}}</a>
    </nav>
  </div>

  <div *ngIf="!isHome" class="user-container">
    <!-- <i class="pi pi-user" routerLink="/login"></i> -->
    <i
      class="icon pi pi-shopping-cart"
      routerLink="cart"
      alt="icone carrinho de compras"
    ></i>
    <button
      style="background: none; border: none"
      (click)="displaySidebar = true"
    >
      <i class="icon pi pi-bars"></i>
    </button>
  </div>
  <div *ngIf="isDashboard" class="icons">
    <!-- conteúdo ficará disponível no dashboard -->

    <button
      style="background: none; border: none"
      (click)="displaySidebarDashboard = true"
    >
      <i class="icon pi pi-bars"></i>
    </button>
    <button
      style="background: none; border: none"
      (click)="displaySidebar = true"
    >
      <i class="icon pi pi-bars"></i>
    </button>
  </div>
</div>
<p-sidebar [(visible)]="displaySidebar" position="right">
  <ng-template pTemplate="header"
    ><h2 class="menu-title">Bem vindo,{{ name }}</h2></ng-template
  >
  <ng-template pTemplate="content">
    <div class="container-content">
      <div class="menu-option">
        <button class="link-menu">Minhas compras</button>
        <i class="pi pi-gift"></i>
      </div>
      <div class="menu-option">
        <button class="link-menu">Minha Conta</button>
        <i class="pi pi-cog"></i>
      </div>
      <div class="menu-option">
        <button class="link-menu" (click)="logout()">logout</button>
        <i class="pi pi-sign-out"></i>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer"
    ><h5 class="menu-footer">G4 Bebidas</h5>
  </ng-template>
</p-sidebar>
<p-sidebar [(visible)]="displaySidebarDashboard" position="right">
  <ng-template pTemplate="header"
    ><h2 class="menu-title">Bem vindo,{{ name }}</h2>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="container-content">
      <div class="menu-option">
        <button class="link-menu" routerLink="/dashboard">Dashboard</button>
        <i class="pi pi-th-large"></i>
      </div>
      <div class="menu-option">
        <button routerLink="/users" class="link-menu">
          Lista de usuários
        </button>
        <i
          class="pi pi-user-edit"
          alt="link para visualizar lista usuários "
        ></i>
      </div>
      
      <div class="menu-option">
        <button routerLink="/product" class="link-menu">
          Lista de produtos
        </button>
        <i class="pi pi-list" alt="link para visualizar lista de produtos "></i>
      </div>
      <div class="menu-option">
        <button routerLink="/category" class="link-menu">
          Categoria de prod.
        </button>
        <i
          class="pi pi-tags"
          alt="link para visualizar lista de categoria "
        ></i>
      </div>
      <div class="menu-option">
        <button class="link-menu" (click)="logout()">logout</button>
        <i class="pi pi-sign-out"></i>
      </div>
    </div>
  </ng-template>

  <!-- <ng-template pTemplate="content">
    <div class="container-content">
      <div class="menu-option">
        <button class="link-menu"  routerLink="/dashboard">Dashboard</button>
        <i class="pi pi-th-large"></i>
      </div>
      <div class="menu-option">
        <button class="link-menu" > Minhas compras</button>
        <i class="pi pi-gift"></i>
      </div>
      <div class="menu-option">
        <button class="link-menu" >Minha Conta</button>
        <i class="pi pi-cog"></i>
      </div>
      <div class="menu-option">
        <button class="link-menu" (click)="logout()"> logout</button>
        <i class="pi pi-sign-out"></i>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer"
    ><h5 class="menu-footer">G4 Bebidas</h5></ng-template -->
</p-sidebar>
