<div class="container">
  <h1>Termos e Condições de Uso - G4 Bebidas</h1>
  <p>
    Bem-vindo(a) ao site da Empresa de Bebidas G$ Bebidas. Ao utilizar o nosso site, você
    concorda com os termos e condições de uso abaixo:
  </p>
  <h2>Restrição de Idade</h2>
  <p>
    Você deve ter 18 anos ou mais para comprar bebidas alcoólicas em nosso site.
    Se você for menor de 18 anos, não é permitido comprar bebidas alcoólicas
    aqui.
  </p>
  <p>
    Também é proibido comprar bebidas alcoólicas para dar a menores de 18 anos.
    Ao comprar em nosso site, você declara que tem idade legal para comprar
    bebidas alcoólicas e que não está comprando para menores de idade.
  </p>
  <h2>Uso do Site</h2>
  <p>
    Você é responsável por garantir que suas informações pessoais estejam
    atualizadas e corretas ao criar uma conta em nosso site.
  </p>
  <p>
    Não é permitido usar o nosso site para fins ilegais ou fraudulentos.
    Qualquer atividade suspeita pode ser relatada às autoridades competentes.
  </p>
  <h2>Alterações nos Termos</h2>
  <p>
    Nós nos reservamos o direito de atualizar ou modificar estes termos e
    condições a qualquer momento, sem aviso prévio. Ao continuar a usar nosso
    site, você concorda com as alterações feitas.
  </p>
  <h2>Contato</h2>
  <p>
    Se você tiver dúvidas sobre nossos termos e condições, entre em contato
    conosco através do e-mail: bebidas.g4@gmail.com
  </p>
</div>
