<div class="container">
  <div class="content-form-forget-password">
    <div class="title-forgot-password">
      <h2>Resete sua Senha</h2>
    </div>
    <div class="form-password">
      <p>Esqueceu sua senha?</p>
      <p>Preencha com seu email de cadastro</p>
      <form [formGroup]="passwordForm" (ngSubmit)="sendEmail()">
        <input
          pInputText
          type="email"
          placeholder="Email"
          id="email"
          formControlName="email"
        />
        <div class="button">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
