.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 50px 100px 50px;
}

.content-form-forget-password {
  width: 100%;
  font-size: 1rem;
  /* border: 1px solid #794781; */
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #ab47bc ;
  padding: 30px;
  background-color: #fcfafa;
}

.title-forgot-password {
  background-color: #ab47bc;
  color: #fff;
  width: 200px;
  text-align: center;
  border-radius: 5px;
}

form {
  display: flex;
  align-items: center;
  gap: 20px;
}

form > input{
    width: 280px;
}

.form-password {
  color: #5c1fb1;
}

.button > button {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 5px #ab47bc;
  height: 45px;
  width: 150px;
  font-weight: 600;
  color: #5c1fb1;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  text-transform: uppercase;
}

.button > button:hover {
  color: #fff;
  background-color: #5c1fb1;
}
