<div class="container">
	<p>Nós da G4-Bebidas estamos comprometidos em proteger a privacidade dos nossos usuários. Esta política de privacidade descreve como coletamos, usamos e protegemos as informações que você nos fornece através do nosso site.</p>

	<h2>Coleta de Informações</h2>
	<p>Coletamos informações pessoais que você nos fornece quando se registra em nosso site, faz uma compra, preenche um formulário, ou se comunica conosco por e-mail. As informações que coletamos podem incluir seu nome, endereço de e-mail, endereço físico, número de telefone e informações de cartão de crédito.</p>

	<h2>Uso das Informações</h2>
	<p>Todas as informações que coletamos de você podem ser usadas para:</p>
	<ul>
		<li>Processar transações</li>
		<li>Melhorar nosso site</li>
		<li>Personalizar sua experiência</li>
		<li>Enviar e-mails periódicos</li>
	</ul>

	<h2>Proteção de Informações</h2>
	<p>Nós implementamos uma variedade de medidas de segurança para manter a segurança de suas informações pessoais. Nós não vendemos, trocamos ou transferimos suas informações pessoais para terceiros.</p>

	<h2>Comunicação por E-mail</h2>
	<p>Nós nunca solicitamos informações pessoais por e-mail, incluindo senhas de acesso. Caso receba um e-mail solicitando informações pessoais, por favor entre em contato conosco imediatamente.</p>

	<h2>Termo de Responsabilidade</h2>
	<p>Ao utilizar nosso site, você concorda com a nossa política de privacidade e com o nosso termo de responsabilidade. Se tiver dúvidas sobre nossas políticas, entre em contato conosco.</p>
	<p>Consulte nosso <a href="/terms-and-condition"> Termo de Uso</a></p>
</div>

<footer>
	<p>Copyright © 2023 G4-Bebidas</p>
</footer>
