<div class="container table-responsive" *ngIf="listingCategories">
  <p-table
    [value]="filteredCategories"
    [rows]="5"
    [paginator]="true"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 30]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    responsiveLayout="stack"
    [breakpoint]="'660px'"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th id="header-list">ID</th>
        <th id="header-list">Nome</th>
        <th id="header-list">Descrição</th>
        <th id="header-list">
          <p-inputSwitch
            [(ngModel)]="activeSwitch"
            (click)="switchCategories()"
            required
          ></p-inputSwitch>
        </th>

        <th id="header-list">
          <i class="pi pi-plus" (click)="showDialogCreateCategory()"></i>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <div
        class="no-categories-message"
        *ngIf="categories.length > 0; else noCategories"
      ></div>
      <tr>
        <td>{{ category.categoryId }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td>
          <i
            class="pi pi-pencil"
            (click)="showDialogUpdateCategory(category)"
          ></i>
        </td>
        <td>
          <i class="pi pi-trash" (click)="deleteCategory(category)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- <div class="container table-responsive" *ngIf="listingCategories">
  <table class="table">
    <thead>
      <tr>
        <th class="header-list">ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>
          <p-inputSwitch [(ngModel)]="activeSwitch" (click)="switchCategories()" required></p-inputSwitch>
        </th>

        <th>
          <i class="pi pi-plus" (click)="showDialogCreateCategory()"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <div class="no-categories-message" *ngIf="categories.length > 0; else noCategories"></div>
      <tr *ngFor="let category of filteredCategories">
        <td>{{ category.categoryId }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td>
          <i class="pi pi-pencil" (click)="showDialogUpdateCategory(category)"></i>
        </td>
        <td>
          <i class="pi pi-trash" (click)="deleteCategory(category)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<ng-template #noCategories>
  <p class="no-categories-message">Não há categorias cadastradas.</p>
</ng-template>

<p-dialog
  [(visible)]="displayCreateCategory"
  [style]="{ width: '70vw' }"
  [baseZIndex]="10000"
>
  <i class="pi pi-tags" alt="link para visualizar lista de categoria "></i>
  <form [formGroup]="categoryForm">
    <div class="container-inputs">
      <input
        pInputText
        placeholder="Nome"
        type="text"
        id="name"
        formControlName="name"
        required
      />
      <input
        pInputText
        placeholder="Descrição"
        type="text"
        id="description"
        formControlName="description"
        required
      />
    </div>
    <div class="container-check-box">
      <h2 class="title">Categoria Ativa?</h2>
      <p-inputSwitch
        style="font-size: 1rem"
        formControlName="activeSwitch"
        required
      ></p-inputSwitch>
    </div>
    <div class="container-check-box">
      <h2 class="title">Categoria Principal</h2>
      <p-inputSwitch formControlName="main" required></p-inputSwitch>
    </div>
    <div class="button">
      <button class="button-create" type="submit" (click)="postCategory()">
        Criar Categoria
      </button>
    </div>
  </form>
</p-dialog>

<p-dialog
  [(visible)]="displayUpdateCategory"
  [style]="{ width: '70vw' }"
  [baseZIndex]="10000"
>
  <i class="pi pi-tags" alt="link para visualizar lista de categoria "></i>
  <form [formGroup]="categoryForm" *ngIf="displayUpdateCategory">
    <div class="container-inputs">
      <input
        pInputText
        placeholder="Nome"
        type="text"
        id="name"
        formControlName="name"
        required
      />
      <input
        pInputText
        placeholder="Descrição"
        type="text"
        id="description"
        formControlName="description"
        required
      />
    </div>
    <div class="container-check-box">
      <h2 class="title">Categoria Ativa?</h2>
      <p-inputSwitch formControlName="activeSwitch" required></p-inputSwitch>
    </div>
    <div class="container-check-box">
      <h2 class="title">Categoria Principal?</h2>
      <p-inputSwitch formControlName="main" required></p-inputSwitch>
    </div>
    <div class="button">
      <button class="button-create" type="submit" (click)="putCategory()">
        Atualizar Categoria
      </button>
    </div>
  </form>
</p-dialog>
