<form [formGroup]="formAddress">
  <h2 class="title">Now Address</h2>

  <input
    pInputText
    placeholder="CEP"
    type="text"
    id="cep"
    name="cep"
    formControlName="cep"
    required
  />
  <input
    pInputText
    placeholder="Street"
    type="text"
    id="street"
    name="street"
    formControlName="street"
    required
  />

  <input
    pInputText
    placeholder="Number"
    type="text"
    id="number"
    name="number"
    formControlName="number"
    required
  />

  <input
    pInputText
    placeholder="Complement"
    type="text"
    id="complement"
    name="complement"
    formControlName="complement"
  />
  <input
    pInputText
    placeholder="City"
    type="text"
    id="city"
    name="city"
    formControlName="city"
    required
  />

  <input
    pInputText
    placeholder="State"
    type="text"
    id="uf"
    name="uf"
    required
    formControlName="uf"
  />
  <div class="button">
    <input
      class="button-create"
      type="submit"
      value="Salvar "
      (click)="createAddress()"
    />
  </div>
</form>
