<form [formGroup]="formUser">
  <h2 class="title">User registration</h2>
  <input
    pInputText
    placeholder="Name"
    type="text"
    id="name"
    formControlName="name"
    required
  />

  <input
    pInputText
    placeholder="CPF"
    type="text"
    id="cpf"
    formControlName="cpf"
    required
  />

  <input
    pInputText
    type="date"
    id="dateOfBirthday"
    formControlName="dateOfBirthday"
    title="Insira sua data de nascimento neste campo"
    required
  />

  <input
    pInputText
    placeholder="Email"
    type="text"
    id="email"
    formControlName="email"
    required
  />

  <input
    pInputText
    placeholder="User Type"
    type="text"
    id="userType"
    formControlName="userType"
    required
  />

  <input
    pInputText
    placeholder="Phone"
    type="text"
    id="userType"
    formControlName="phoneNumber"
    required
  />
  <div class="button">
    <button class="button-create" type="submit" (click)="createUser()">
      Save
    </button>
  </div>
</form>

<p-dialog
  [(visible)]="displayAddress"
  [style]="{ width: '70vw' }"
  [baseZIndex]="10000"
>
  <app-modal-create-address [user]="user"></app-modal-create-address>
</p-dialog>
