<div class="container table-responsive" *ngIf="listingProducts">
  <p-table [value]="filteredProducts" [rows]="5" [paginator]="true" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 30]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    responsiveLayout="stack" [breakpoint]="'660px'" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" style="background-color: #ab47bc">
      <tr>
        <th id="header-list">ID</th>
        <th id="header-list">Nome</th>
        <th id="header-list">Descrição</th>
        <th id="header-list">Preço</th>
        <th id="header-list">Categoria</th>
        <th id="header-list"></th>
        <th id="header-list">
          <p-inputSwitch [(ngModel)]="active" (click)="switchProducts()" required></p-inputSwitch>
        </th>
        <th id="header-list">
          <i class="pi pi-plus" (click)="showDialogCreateProduct()"></i>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.productId }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.category.name }}</td>
        <td></td>
        <td>
          <i class="pi pi-pencil" (click)="showDialogUpdateProduct(product)"></i>
        </td>
        <td>
          <i class="pi pi-trash" (click)="deleteProduct(product)"></i>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft"> </ng-template>
    <ng-template pTemplate="paginatorright"> </ng-template>
  </p-table>
</div>

<ng-template #noProducts>
  <p class="no-products-message">Não há produtos cadastrados.</p>
</ng-template>

<p-dialog [(visible)]="displayCreateProduct" [style]="{ width: '70vw' }" [baseZIndex]="10000">
  <form [formGroup]="productForm">
    <i class="icon pi pi-tags" style="font-size: 2rem; color: blueviolet" alt="icone de produto"></i>
    <div class="container-input">
      <input pInputText placeholder="Nome" type="text" id="name" formControlName="name" required />

      <input pInputText placeholder="Descrição" type="text" id="description" formControlName="description" required />

      <input pInputText placeholder="Preço" type="number" id="price" formControlName="price" step=".01" required />
      <div class="container-select">
        <label for="category">Category</label>
        <select name="category" id="category" formControlName="category" [compareWith]="compare" required>
          <option value="">Selecione a Categoria</option>
          <option *ngFor="let category of categories" value="{{ category.categoryId }}">
            {{ category.name }}
          </option>
        </select>
      </div>

      <input pInputFile placeholder="Imagem" type="file" id="file" formControlName="file" required
        (change)="handleUpload($event)" />

      <div class="button">
        <button class="button-create" type="submit" (click)="postProduct()">
          Criar Produto
        </button>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog [(visible)]="displayUpdateProduct" [style]="{ width: '70vw' }" [baseZIndex]="10000">
  <form [formGroup]="productForm" *ngIf="displayUpdateProduct">
    <i class="icon pi pi-tags" style="font-size: 2rem; color: blueviolet" alt="icone de produto"></i>
    <div class="container-input">
      <input pInputText placeholder="Nome" type="text" id="name" formControlName="name" required />
      <input pInputText placeholder="Descrição" type="text" id="description" formControlName="description" required />
      <input pInputText placeholder="Preço" type="number" id="price" formControlName="price" step=".01" required />

      <input pInputText placeholder="Imagem" type="file" id="file" formControlName="file" required
        (change)="handleUpload($event)" />
      <div class="button">
        <button class="button-create" type="submit" (click)="putProduct()">
          Atualizar Produto
        </button>
      </div>
    </div>
  </form>
</p-dialog>