<div class="container table-responsive" *ngIf="listingProducts">
  <table class="table">
    <thead>
      <tr>
        <th class="header-list">ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Categoria</th>
        <th></th>
        <th>Ativo?<p-inputSwitch [(ngModel)]="active" (click)="switchProducts()" required></p-inputSwitch></th>
        <th>
          <i class="pi pi-plus" (click)="showDialogCreateProduct()"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <div
        class="no-users-message"
        *ngIf="products.length > 0; else noProducts"
      ></div>
      <tr *ngFor="let product of filteredProducts">
        <td>{{ product.productId }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.category.name }}</td>
        <td>
          <i
            class="pi pi-pencil"
            (click)="showDialogUpdateProduct(product)"
          ></i>
        </td>
        <td><i class="pi pi-trash" (click)="deleteProduct(product)"></i></td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noProducts>
  
  <p class="no-products-message">Não há produtos cadastrados.</p>
</ng-template>

<p-dialog
  [(visible)]="displayCreateProduct"
  [style]="{ width: '70vw' }"
  [baseZIndex]="10000"
>
  <form [formGroup]="productForm">
    <h2 class="title">Novo Produto</h2>
    <input
      pInputText
      placeholder="Nome"
      type="text"
      id="name"
      formControlName="name"
      required
    />

    <input
      pInputText
      placeholder="Descrição"
      type="text"
      id="description"
      formControlName="description"
      required
    />

    <input
      pInputText
      placeholder="Preço"
      type="number"
      id="price"
      formControlName="price"
      step=".01"
      required
    />
    <div class="container-select">
      <label for="category">Category</label>
      <select
        name="category"
        id="category"
        formControlName="category"
        [compareWith]="compare"
        required
      >
        <option value="">Selecione a Categoria</option>
        <option
          *ngFor="let category of categories"
          value="{{ category.categoryId }}"
        >
          {{ category.name }}
        </option>
      </select>
    </div>
    <input
      placeholder="Imagem"
      type="file"
      id="file"
      formControlName="file"
      required
      (change)="handleUpload($event)"
    />
    Ativo? <p-inputSwitch       formControlName="active"
    required></p-inputSwitch>

    <div class="button">
      <button class="button-create" type="submit" (click)="postProduct()">
        Criar Produto
      </button>
    </div>
  </form>
</p-dialog>

<p-dialog
  [(visible)]="displayUpdateProduct"
  [style]="{ width: '70vw' }"
  [baseZIndex]="10000"
>
  <form [formGroup]="productForm" *ngIf="displayUpdateProduct">
    <h2 class="title">Atualizar Produto</h2>
    <input
      pInputText
      placeholder="Nome"
      type="text"
      id="name"
      formControlName="name"
      required
    />
    <input
      pInputText
      placeholder="Descrição"
      type="text"
      id="description"
      formControlName="description"
      required
    />
    <input
      pInputText
      placeholder="Preço"
      type="number"
      id="price"
      formControlName="price"
      step=".01"
      required
    />
    <select
      name="category"
      id="category"
      formControlName="category"
      [compareWith]="compare"
      required
    >
      <option
        *ngFor="let category of categories"
        value="{{ category.categoryId }}"
      >
        {{ category.name }}
      </option>
    </select>
    <input
      pInputText
      placeholder="Imagem"
      type="file"
      id="file"
      formControlName="file"
      required
      (change)="handleUpload($event)"
    />

    Ativo? <p-inputSwitch       formControlName="active"
    required></p-inputSwitch>
    <div class="button">
      <button class="button-create" type="submit" (click)="putProduct()">
        Atualizar Produto
      </button>
    </div>
  </form>
</p-dialog>
